.spinner-container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 90vh;
}
.amount-wrapper{
    display: flex;
    flex-direction: column;
}
.delivery-description{
    display: flex;
    align-items: center;
    justify-content: center;
}