#item-info-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#item-info-container{
    padding: 1rem;
    border-radius: 10px;
    .actions-container{
        align-items: center;
        .amount-changer-container{
            width: 170px;
        }
    }
}