#item-info-container:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#item-info-container{
    padding: 1rem;
    border-radius: 10px;
    .actions-container{
        align-items: center;
        .amount-changer-container{
            width: 170px;
        }
    }
    transition: box-shadow 0.2s ease-in-out;
}